<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <%- include('partials/title')%>
</head>
<body>
    <%- include('partials/nav'); %>
    <header>
        <div class="social-network-icons">
            <div class="fb">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="ig">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="ws">
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
        <img class="logo" src="/img/logo-arbol-de-la-vida(3).webp" alt="">
        <h1>Árbol de la vida</h1>
        <button id="menu-button">MENÚ</button>
    </header>
    <br>
    <aside>
        <h2 class="aside-title">¡Prueba nuestros mejores platos!</h2>
        <div class="box-cards">
            <%  info.map(i=>{ %>
                <div class="card">
                <img class="img-1" src="<%=i.url%>" alt="<%=i.data.nombre%>" loading="lazy"> 
                <h2><%=i.data.nombre%></h2>
                <button data-id="<%=i.id%>">Ver más</button>
                </div>
            <% }) %>
        </div>
        <h2 class="aside-title products-story">¡Conoce la historia de nuestros productos!</h2>
        <h2 class="beer">Cerveza Caran</h2>
        <div class="artesanal-beer">
            <p>La obtención de esta cerveza artesanal comienza con la extracción de agua de las faldas del volcán Imbabura, que se extrae de 60 metros de profundidad. La calidad del agua, su pH y su contenido mineral son esenciales para el resultado final de la cerveza. La malta utilizada es cebada que se ha llevado a su máximo potencial energético, deteniendo el proceso de germinación y conservando la energía al secarla al sol o al horno para obtener diferentes sabores y colores. <br>Las flores de una enredadera estacional que nacen en primavera después de haber invernado bajo cero, se utilizan para generar el sabor y aroma que contrarresta el dulce de la malta y añade frescura, además de brindar protección a la cerveza. Todo esto se combina en una cuidadosa elaboración artesanal para crear una gran cerveza.
            </p>
            <img src="/img/cerveza artesanal.webp" alt="">
        </div>
    </aside>
    <%- include('partials/footer'); %>
</body>
<script src="/js/index.js"></script>
<script src="/js/home.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>