<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/nav')%>
    <header>
        <h1>Menú</h1>
        <h2 class="aside-title">¡Prueba nuestros mejores platos!</h2>
    </header>
    <div class="menu">
        <ul>
            <li>Hamburguesas <span><i class="fa-solid fa-burger"></i></span></li>
            <li>Pizzas <span><i class="fa-solid fa-pizza-slice"></i></span></li>
            <li>Sanduches <span><i class="fa-solid fa-bread-slice"></i></span></li>
            <li>Compartir <span><i class="fa-solid fa-people-group"></i></span></li>
            <li>Internacional <span><i class="fa-solid fa-earth-americas"></i></span></li>
            <li>Desayunos <span><i class="fa-solid fa-mug-saucer"></i></span></li>
            <li>Ensaladas <span><i class="fa-solid fa-carrot"></i></i></span></li>
            <li>Helados <span><i class="fa-solid fa-ice-cream"></i></span></li>
            <li>Pitas <span><i class="fa-solid fa-circle"></i></span></li>
            <li>Bebidas <span><i class="fa-solid fa-wine-glass-empty"></i></span></li>
        </ul>
    </div>
    <aside>
        <div class="box-cards">
            <div class="box-cards">
                <%  info.map(i=>{ %>
                    <div class="card">
                    <img class="img-1" src="<%=i.url%>" alt=""> 
                    <h2><%=i.data.nombre%></h2>
                    <p><span>Precio:</span>$<%=i.data.precio%></p>
                    <button data-id="<%=i.id%>">Ver más</button>
                    </div>
                <% }) %>
            </div>
        </div>
    </aside>
    <%-include('partials/footer')%>
</body>
<script src="/js/index.js"></script>
<script src="/js/menu.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>