<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/nav')%>
    <br> 
    <header>
        <h1><%=datos.nombre%></h1>
    </header>
    <aside>
        <img src="<%=url%>" alt="">
        <div class="content">
            <h2>Ingredientes</h2>
            <ul>
                <% datos.descripcion.map(i=>{ %>
                    <li><%=i%></li> 
                <% }) %>
            </ul>
            <p> <span>Precio:</span> $<%=datos.precio%></p>
            <%if(extra){%>
                <h2>Extras</h2>
                <div class="extra">
                    <div class="extra-p"data-name="Choclo-0.5">Choclo</div>
                    <div class="extra-p"data-name="Aceitunas-0.5">Aceitunas</div>
                    <div class="extra-p"data-name="Champi침ones-0.5">Champi침ones</div>
                    <div class="extra-p"data-name="Queso mozarella-0.5">Queso mozarella</div>
                    <div class="extra-p"data-name="Peperoni-0.75">Peperoni</div>
                    <div class="extra-p"data-name="Salami italiano-0.75">Salami italiano</div>
                    <div class="extra-p"data-name="Jam칩n-0.75">Jam칩n</div>
                    <div class="extra-p"data-name="Pollo-0.75">Pollo</div>
                </div>
            <%}%>
            <h2>Cantidad</h2>
            <input type="number" name="cant" id="cant" value="1" min="1" step="1">
            <button data-id="<%=datos.nombre%>" data-price="<%=datos.precio%>">Agregar al carrito <span><i class="fa-sharp fa-solid fa-cart-shopping"></i></span></button>
        </div>
    </aside>
    <%-include('partials/footer')%>
</body>
<script src="/js/index.js"></script>
<script src="/js/product.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>